body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;  
}

body {
  font-family: 'Cardo', serif;
 }
 
 h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
 }