{{ define "index" }}

<!DOCTYPE html>
<html lang="en">
{{ template "header" . }}

<body>
    {{ template "navbar" . }}
    <div class="container">
        <div class="row">
            <div class="col-sm">
                {{ template "listings" . }}
            </div>
            <div class="col-sm">
                {{ if not ( session . ).IsAnonymous }}
                {{ template "profile/card" . }}
                {{ end }}
            </div>
        </div>
    </div>
    {{ template "footer" . }}
</body>

</html>
{{ end }}