.RefSelector:before {
  content: "Head Ref:";
}

.RefSelector {
  padding: 5px 35px 5px 5px;
  /* font-size: 16px; */
  border: 1px solid #ccc;
  height: 34px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(http://www.stackoverflow.com/favicon.ico) 96% / 15% no-repeat #eee;
}

/* CAUTION: IE hackery ahead */
.RefSelector::-ms-expand {
  display: none;
  /* remove default arrow in IE 10 and 11 */
}

/* target Internet Explorer 9 to undo the custom arrow */x`
@media screen and (min-width:0\0) {
  .RefSelector {
    background: none\9;
    padding: 5px\9;
  }
}